<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938276637696-1463cs58c4mpaou7geink1h1a5d4t9ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938276637696-1463cs58c4mpaou7geink1h1a5d4t9ao</string>
	<key>API_KEY</key>
	<string>AIzaSyBZABXgmyYc4Ib7SaVCJtY6eMvlORw4FSY</string>
	<key>GCM_SENDER_ID</key>
	<string>938276637696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pat.vJokes</string>
	<key>PROJECT_ID</key>
	<string>vjokes-b7ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>vjokes-b7ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938276637696:ios:dac3ff570dce6cec265ce5</string>
	<key>DATABASE_URL</key>
	<string>https://vjokes-b7ef7.firebaseio.com</string>
</dict>
</plist>